.reviewForm {
  font-size: 14px;
  line-height: 24px;
  margin-top: 30px;

  display: grid;
  grid-template-columns: [start] auto 1fr auto [end];
  gap: 20px 30px;
  justify-items: start;
  align-items: center;
}

.submit,
.description {
  grid-column: start / end;
}

.info {
  margin-left: 13px;
}

.submitButton {
  padding-left: 36px;
  padding-right: 36px;
}

.rating {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

.panel {
  position: relative;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
}

.success {
  background: var(--green-light);
}

.error {
  background: var(--red-light);
}

.successTitle {
  font-weight: 700;
  margin-bottom: 10px;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: none;
  border: none;
}

.error .close line {
  stroke: var(--red);
}

@media (max-width: 1100px) {
  .reviewForm {
    grid-template-columns: [start] 1fr 1fr [end];
  }
  .rating {
    grid-column: start / end;
  }
}

@media (max-width: 640px) {
  .reviewForm {
    grid-template-columns: [start] 1fr [end];
  }
  .rating {
    grid-column: start / end;
  }
}
